body  {
  font-family: 'Open Sans', sans-serif;
  color: #362f2d;
  background: white;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}


.header {
  height: 50px;
  background: #f26d7d;
}

.columns {

}

.content {
  /*dev*/min-height: 200px;
  /*dev*/background: rgba(0, 255, 0, 0.1);
}

.sidebar {
  /*dev*/min-height: 200px;
  /*dev*/background: rgba(0, 0, 255, 0.1);
}

.footer {
  background: #f8b6be;
  height: 85px;
}

@media screen and (min-width: 978px) {
  body {
    background: white;
  }

  /*wrapper*/
  .wrapper {
    width: 978px;
    margin: 0 auto;
  }

  /*header*/
  .header {
    height: 195px;
    background: none;
  }

  .columns {
    background: #fff;
    padding: 30px;
  }

  .content {
     float: left;
     width: 602px;

     }
  .sidebar {
     float: right;
     width: 286px;
     }

    .footer {
      background: none;
      height: 55px;
      margin: 50px 0;
    }



}
