

//min. Breakpoint
@mixin sdf-minBp( $breakPoint ) {
	@if $breakPoint > 99 {
		$breakPointString: "(min-width: #{$breakPoint}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 1 {
		$breakPointString: "(min-width: #{$bp-1}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 2 {
		$breakPointString: "(min-width: #{$bp-2}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 3 {
		$breakPointString: "(min-width: #{$bp-3}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 4 {
		$breakPointString: "(min-width: #{$bp-4}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 5 {
		$breakPointString: "(min-width: #{$bp-5}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 6 {
		$breakPointString: "(min-width: #{$bp-6}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 7 {
		$breakPointString: "(min-width: #{$bp-7}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 8 {
		$breakPointString: "(min-width: #{$bp-8}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 9 {
		$breakPointString: "(min-width: #{$bp-9}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
}//min. Breakpoint

//max. Breakpoint
@mixin sdf-maxBp( $breakPoint ) {
	@if $breakPoint > 99 {
		$breakPointString: "(max-width: #{$breakPoint}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 1 {
		$breakPointString: "(max-width: #{$bp-1 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 2 {
		$breakPointString: "(max-width: #{$bp-2 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 3 {
		$breakPointString: "(max-width: #{$bp-3 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 4 {
		$breakPointString: "(max-width: #{$bp-4 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	} @else
	if $breakPoint == 5 {
		$breakPointString: "(max-width: #{$bp-5 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 6 {
		$breakPointString: "(max-width: #{$bp-6 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 7 {
		$breakPointString: "(max-width: #{$bp-7 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 8 {
		$breakPointString: "(max-width: #{$bp-8 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
	@if $breakPoint == 9 {
		$breakPointString: "(max-width: #{$bp-9 - 1}px)";
		@media #{$breakPointString} {
			@content;
		}
	}
}//max. Breakpoint