


//font family
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=latin-ext');
body {
    // font-family: Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
    // box-sizing: border-box;
    background-color: $c-mpgreen1;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    // font-family: Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
}

//main layout
.outerframe.container {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}
@include sdf-minBp(3) {
    .outerframe.container { 
        background-color: $c-gray2;
        box-sizing: border-box;
    }
    #main-row {
        margin-left: 0;
        margin-right: 0;
    }
}
.navbar-default, #topContainer.jumbotron {
    margin-left: auto;
    margin-right: auto;
    @include sdf-minBp(3) {
        max-width: 750px;
        box-sizing: border-box;
    }
    @include sdf-minBp(5) {
        max-width: 970px;
    }
    @include sdf-minBp(7) {
        max-width: 1170px;
    }
}
#main-col {
    margin-top: 0;
}

#main-col { //fs 15
    background-color: #fff;
    // margin-top: 3.5em;
    // margin-top: 2.5em;
    // padding-top: 1em;
    // padding-bottom: 1em;
    // @include sdf-minBp(3) {
    //     background: #fff url('../files/earmark.svg') top right no-repeat;
    //     background-size: 45px;
    //     background-size: 3em;
    // }
}
#outerframeContainer {
    // box-shadow: 0px 0px 67px 0px rgba(0,0,0,0.3);
    // padding-bottom: 15px;
    min-height: inherit;
}

//navbar
.navbar-default .navbar-nav {
    & > li > a {
        color: $c-mpgreen1;
        padding-left: 5px;
        padding-right: 5px;
    }
    @include sdf-minBp(3) {
        & > li {
            margin-right: 2px;
            &:last-of-type {
                margin-right: 0px;
                // outline: 4px solid red;
            }
        }
        & > li > a {
            background-color: $c-mpgreen3;
            // border-left: 1px solid $c-gray1;
            // border-right: 1px solid $c-gray1;
            // border-radius: 3px 3px 0px 0px;
            padding-top: 4px;
            padding-bottom: 4px;
            position: relative;
            color: #fff;
            // bottom: 2px;
            transition:
                    .2s background-color ease-in,
                    .2s color ease-in,
                    .1s bottom linear;
            &:hover {
                color: #fff;
                background-color: lighten($c-mpgreen1,7%);
                // bottom: 2px;
                transition:
                    .1s background-color ease-out,
                    .2s color ease-out,
                    .15s bottom linear;
            }
        }
    }
    @include sdf-minBp(5) {
        & > li > a {
            padding-left: 15px;
            padding-right: 15px;

        }
    }
}
.navbar-default {
    background-color: #fff; 
    @include sdf-maxBp(3) {
        border-bottom: 1px solid $c-mpgreen1;
    }
}
#navbar {
    @include sdf-minBp(3) {
        background-color: $c-mpgreen2;
        width: 100%;
        padding-left: 30px;
        padding-right: 13px;
    }
}

// //dropdown menu
// .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//     @include sdf-minBp(3) {
//         &:hover, &:focus {
//             color: #fff;
//         }

//     }
// }
// .navbar-default .navbar-nav .open .dropdown-menu > li.current.active > a {
//     color: #fff;
// }
// @include sdf-minBp(3) {
//     .navbar-default .navbar-nav > li > a:focus {
//         color: $c-magenta;
//         color: #fff;
//         &:hover {
//             color: #fff;
//             background-color: $c-mpgreen1;
//         }
//     }

//}


// //dropdown button
// .navbar-default .navbar-nav > .open > a:focus {
//     background-color: darken($color: $c-mpgreen1, $amount: 5);
// }
// .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
//     border-color: $c-gray1;
// }
// .navbar-default .navbar-nav > li > a:focus {
//     background-color: $c-mpgreen1;
// }
// .dropdown-menu > .active > a {
//     background-color: $c-mpgreen1;
// }
// .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
//     background-color: $c-mpgreen2;
    
// }
// .navbar-default .navbar-nav > .open > a {
//     background-color: $c-mpgreen1;
// }

// //mobile nav button
// .navbar-default .navbar-toggle {
//     background-color: $c-mpgreen2;
//     border: 0;
// }
// .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
//     background-color: $c-mpgreen1;
// }

// //mobile nav dropdown
// .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//     color: $c-mpgreen1;
// }
// .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
//     @include sdf-maxBp(3) {
//         color: darken($color: $c-mpgreen1, $amount: 25);
//     }
// }

//navbar
.navbar-default .navbar-toggle {
    border-color: $c-mpgreen1;
}
.navbar-toggle {
    background-color: $c-mpgreen2;
    // background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $c-mpgreen1;
    
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $c-mpgreen1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: $c-mpgreen1;
    // background-color: lighten($c-mpgreen1, 15%);
    // color: #fff;
}

//dropdown
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: $c-mpgreen1;
}
.dropdown-menu > li > a {
    color: $c-mpgreen1;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: $c-mpgreen2;

}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $c-mpgreen1;
        
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $c-mpgreen2;
        background-color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: $c-mpgreen1;
    }

}




//progress-bar
#topContainer{
    // background-color: $c-magenta;
    &.jumbotron {
        left: 0;
        right: 0;  
    }  
}

//logo 15  736x119 49.0666666667x7.93333333333
.mfb-logo a {
    font-size: .13em;
    background-size: 41.33333333333333em;
    width: 41.33333333333333em;
    height: 21em;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url('../files/magyarpostalogo.png');
    // background: url('https://bezdi.github.io/arioszposta/thesite/assets/files/magyarpostalogo.png');
    background-repeat: no-repeat;
    position: relative;
    top: 11px;
    @include sdf-minBp(3) {
        top: 14px;
        font-size: .14em;
    }
    @include sdf-minBp(5) {
        top: 11px;
        font-size: .155em;
    }
    @include sdf-minBp(7) {
        // font-size: 0.21em;
        // top: 14px;
    }
}

//slogan
.mfb-slogan {
    display: none;
    text-align: right;
    letter-spacing: -1px;
    padding-right: 0;
    h2 {
        margin: 0;
        line-height: 1.30;
        color: $c-mpgreen1;
        letter-spacing: .3px;
        font-size: 16px;
        width: 100%;
    }
    @include sdf-minBp(3) {
        display: flex;
        align-items: center;
        height: 70px;
        h2 {
            font-size: 20px;
        }
    }
    @include sdf-minBp(5) {
        // height: 78px;
        // h2 {
        //     font-size: 20px;

        // }
    }
}

//progress bar
#topContainer .container {
    padding-left: 0;
    padding-right: 0;
}
#topContainer.jumbotron {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
.progress {
    background-color:$c-gray2;
    font-weight: 700;
    border-radius: 0;
    height: 24px;
    box-shadow: inset 0px 2px 4px -2px rgba(0,0,0,0.46);
    // padding: 0 15px;
}
.progress .progress-bar {
    position: relative;
    top: 2px;
    text-align: right;
    padding-right: 4px;
    height: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: lighten($c-mpgreen1, 11%);
    border-radius: 0 4px 4px 0;
    // border-radius: 10px;
    color: lighten($c-mpgreen2, 45%);
    font-size: 12px;
    letter-spacing: .5px;
    padding-top: 0.39em;
    &[aria-valuenow="0"] {
        background-color: transparent;
        border-left: 2px solid lighten($c-mpgreen1, 11%);
        padding-left: 15px;
        color: $c-mpgreen1;
    }
    &[aria-valuenow="100"] {
        border-radius: 0;
    }
}



//tipp hide
.questionvalidcontainer .text-info {
    display: none;
}

//error
.input-error, .mandatory.missing {
    border: 0;
    .question-text {
        // border-bottom: 1px solid $c-red;
        // color: $c-red;
        position: relative;
        padding-left: 12px;
        &::before {
            content: ' ';
            display: block;
            background-color: $c-red;
            top: 4px;
            bottom: 4px;
            left: 0;
            width: 2px;
            position: absolute;
        }
    }
}
.questionvalidcontainer .text-danger {
    color: $c-red;
    font-weight: 500;
    .emtip.good {
        display: none;  
    }
}

.emtip.error, .errormandatory{
    position: relative;
    padding-left: 12px;
    span:before {
        content: "\2022";
            display: block;
            // background-color: $c-red;
            top: 2px;
            left: -1px;
            width: 2px;
            position: absolute;
    }
}

//header ie fix
.navbar-fixed-top, .navbar-fixed-bottom {
    @include sdf-minBp(3) {
        right: calc(50% - 375px);
        left: calc(50% - 375px);
        box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.2);
    //  overflow: hidden;

    }
    @include sdf-minBp(6) {
        right: calc(50% - 485px);
        left: calc(50% - 485px);

    }
    @include sdf-minBp(7) {
        right: calc(50% - 585px);
        left: calc(50% - 585px);

    }
}


//hide button from menu
a#clearallbtnlink {
    display: none;
}