//group
div[id^=group-] {

    //question
    // div[id^=question] {
    .question-container {

        // background-color: lightcyan;
        // display: none;
        .question-code-container {
            @include sdf-minBp(3) {
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                position: absolute;
                top: 0;
                left: -50px;
                // background-color: #fff;
                padding: 3px;
                // border: 1px solid $c-mpgreen1;
                border-radius: 2px;
                box-sizing: border-box;
            }

        }

        .question-title-container {
            // background-color: lightcoral;
            padding-top: 15px;
            padding-bottom: 10px;
            background-color: transparent;
            color: $c-mpgreen1;
            font-weight: 700;
            letter-spacing: -.25px;

            .text-danger.asterisk {
                display: none;
            }
        }

        .questiontext {
            padding-left: 0;
            padding-right: 0;

            // position: relative;
            h4 {
                font-size: 15px;
            }

            .note {
                margin-top: -.5em;
                font-weight: 400;
                font-size: 13.5px;
                text-transform: uppercase;
                letter-spacing: .5px;
            } 

            @include sdf-minBp(3) {
                font-size: 17px;
                letter-spacing: .05px;

                h4 {
                    font-size: 17px;
                    font-weight: 500;
                }

            }
        }

        .questionvalidcontainer {
            padding-bottom: 0;
            background-color: transparent;

            .emtip.good {
                // display: none;
            }
        }

        .answer-container {
            border-width: 0;
            padding-top: .5em;
            padding-bottom: 0.2em;
        }

        .question-help-container {
            border: 0;
            display: none;
        }

        .save-all hr {
            display: none;
        }
    }
}

//kerdes csoport cime
h3.group-name {
    margin-top: 10px;
    margin-bottom: 20px;
    // color: $c-gray4;
    color: $c-mpgreen1;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

//padding fix
.answer {

    &>p,
    &>div {
        padding-left: 0;
        padding-right: 0;
    }
}

//table
.table {
    margin-bottom: 0;
}

.no-more-tables {
    thead {
        color: $c-mpgreen1;
    }

    tr {
        border: 0;
    }

    .array1 {
        background-color: lighten($color: $c-gray1, $amount: 2);
    }

    .array2 {
        background-color: lighten($color: $c-gray2, $amount: 4);
    }

    .answertext {
        color: $c-mpgreen1;
    }

    .header_row th {
        font-weight: 500;
    }

    .header_row .dsheader {
        font-weight: 700;
    }

    .header_separator,
    .dual_scale_separator {
        // background-color: lightcyan;
        position: relative;

        &::before {
            content: ' ';
            display: block;
            background-color: $c-gray2;
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;

            @include sdf-maxBp(803) {
                width: 100%;
                height: 1px;
                left: 0;
                right: 0;
            }

            @include sdf-minBp(803) {
                top: 0;
                bottom: 0;
                width: 1px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                height: inherit;
            }
        }
    }
}

//radio
.radio label::after {
    width: 7px;
    height: 7px;
    left: 5px;
    top: 5px;
    background-color: $c-mpgreen1;
}

.radio label::before {
    border-color: $c-gray4;
}

.radio-list .answer-item,
.checkbox-item {
    margin-bottom: 10px;
}

.list-radio.rating .radio-list {
    @include sdf-minBp(5) {
        display: flex;

        .label-text {
            position: relative;
            left: -14px;
        }

    }
}


//also nav
#navigator-container {
    background-color: #fff;
    padding-bottom: 20px;

    hr {
        border: 0;
        border-top: 1px solid $c-gray2;
        margin-left: 15px;
        margin-right: 15px;
    }

    #moveprevbtn,
    #movenextbtn {
        font-size: 15px;
        padding: 8px 15px;
        border-radius: 3px;
        border: 0;

        transition:
            .3s background-color ease-in,
            .2s color ease-in,
            .1s bottom linear;

        &:hover {
            transition:
                .1s background-color ease-out,
                .2s color ease-out,
                .15s bottom linear;
        }
    }

    #moveprevbtn {
        background-color: $c-gray1;
        color: $c-mpgreen1;

        &:hover {
            // background-color: $c-gray3;
            background-color: darken($c-gray1, 5%);
            // color: #fff;
        }
    }

    #movesubmitbtn {
        background-color: $c-mpgreen3;
        border-color: $c-mpgreen3;
        box-shadow: inset 0px -4px 15px 0px rgba(26, 86, 50, .5);
        &:hover {
            background-color: $c-mpgreen1;
        }   
    }

    #movenextbtn {
        background-color: $c-mpgreen3;
        // font-weight: 500;
        font-weight: 700;

        padding: 4px 6px;
        box-shadow: inset 0px -4px 15px 0px rgba(26, 86, 50, .5);
        transition: .2s color ease-out;

        @include sdf-minBp(321) {
            padding: 8px 20px;


        }

        &::after {
            font-family: "FontAwesome";
            content: "\f178";
            margin-left: 10px;
            font-size: 16px;
            // color: lighten($c-mpgreen2, $amount: 10%);
            transition: .2s color ease-out;
            position: relative;
            top: 1px;
        }

        &:hover {
            background-color: $c-mpgreen1;

            &::after {
                // color: $c-mpgreen1;
                // color: #fff;

            }
        }
    }
}


//custom classes - - - - - - - - - - - - - - - - - - - - - -
//maxwidth- classes
.maxwidth {
    &-600 .answer-container {
        max-width: 600px;
    }

    &-700 .answer-container {
        max-width: 700px;
    }

    &-800 .answer-container {
        max-width: 800px;
    }

    &-900 .answer-container {
        max-width: 900px;
    }
}

//change order
.change-order .multiple-choice-container,
.change-order .radio-list {
    display: flex;
    flex-wrap: wrap;

    &>div:nth-last-of-type(2) {
        order: 2;
    }
}

//suffix fix

//prefix fix
.answer-item>label+span {
    margin-bottom: 10px;
    display: block;
}

.multiple-short-txt {
    .control-label {
        padding-top: 7px;

        // color: red;
        &+div {
            display: flex;
            align-items: center;
            padding-top: 4px;

            input {
                // padding: 4px 10px;
                height: 32px;
            }

            span {
                padding-left: 4px;
            }
        }

    }
}

//error
.text-danger {
    text-align: left;
}

//year
.year .numeric-item {
    .form-control {
        width: inherit;
        max-width: 64px;
        max-width: 75px;
        text-align: center;
    }

    display: flex;

    span {
        padding: 11px 0px 0px 7px;
    }

    label+span {
        padding-left: 0;
        padding-right: 7px;
    }

}

//
.multiple-short-txt {

    // outline: 2px dashed blue;
    label {
        // width: inherit;
        text-align: left !important;

        p {
            margin: 0;
        }

        &+div {
            max-width: 480px;
        }
    }
}

//text
input[type="text"].text {
    // box-sizing: content-box;
    padding: 0 15px;
}

.text-item.withsuffix {
    .suffix {
        padding-left: 0;
        padding-right: 0;
    }
}




//
.checkbox-item .input-sm[type="text"] {
    height: 28px;
    position: relative;
    top: 2px;
    margin-bottom: 11px;
}

.checkbox label::after {
    // color: $c-mpgreen2;
    background-color: $c-mpgreen2;
    border-radius: 3px;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    font-size: 11px;

}

// .checkbox label::before {
//     // color: $c-mpgreen2;
//     font-family: "FontAwesome";
//     content: "\f00c";
//     background-color: $c-mpgreen2;
//     border-radius: 3px;
//     color: #fff;
//     width: 17px;
//     height: 17px;
// }





//change order column
.changeorder-col-last2 .multiple-choice-container {
    &>div:last-child {
        &>.row {
            &>div {
                width: 100%;
            }

            display: flex;
            flex-wrap: wrap;

            &>div:nth-last-of-type(2) {
                order: 3;
            }
        }
    }
}

.changeorder-col-last3 .multiple-choice-container {
    &>div:last-child {
        &>.row {
            &>div {
                width: 100%;
            }

            display: flex;
            flex-wrap: wrap;

            &>div:nth-last-of-type(2) {
                order: 3;
            }

            &>div:nth-last-of-type(3) {
                order: 2;
            }
        }
    }
}

.changeorder-col-last4 .multiple-choice-container {
    &>div:last-child {
        &>.row {
            &>div {
                width: 100%;
            }

            display: flex;
            flex-wrap: wrap;

            &>div:nth-last-of-type(2) {
                order: 4;
            }

            &>div:nth-last-of-type(3) {
                order: 3;
            }

            &>div:nth-last-of-type(4) {
                order: 2;
            }
        }
    }
}

div[id^=group-] .question-container .question-code-container {
    @include sdf-minBp(3) {
        // opacity: 0;
    }

}

//toggle
.tesztClass {
    color: chocolate;
}


//coloring

.form-control, .checkbox label::before, .radio label::before {
    border: 1px solid $c-mpgreen2;
}
.form-control:focus {
    border-color: $c-mpgreen1;
}


//numeric input
.answer-item.text-item.numeric-item.withsuffix {
    display: flex;
    align-items: center;
    span {
        margin-left: 15px;
        white-space: nowrap;
    }
}


//
th.answertext {
    font-weight: 400;
}

tr.array1 th {
    font-weight: 400;
}

// .questions-list.numeric-list {
//     tr {
//         display: flex;
//     }
//     td {
//         flex-grow: 1;
//         display: inline-block;
//         &:first-child {
//             text-align: right;
//             // ma-width: 400px;
//         }
//     }
// }

// .question-text {
//     font-weight: 400;
// }

.onlytext  .question-text {
    font-weight: 400;
}