html {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}
body {
  background-color: #212124;
  color: #8b8b94;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}
/*____________________header____________________*/
header {
  width: 100%;
  height: 65px;
  margin: 0 auto;
}
header h1 {
  font-size: 2.6em;
}
header .wrapper {
  padding: 17px 15px 0;
}
/*____________________video____________________*/
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
  margin: 0 auto;
  width: 100%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
}
/*____________________references____________________*/
.references {
  background-color: #fff;
  min-height: 90px;
  text-align: center;
  font-size: 1.6em;
}
.references .wrapper {
  padding: 45px 15px 30px;
}
.references li {
  background-image: url(../assets/bf-sprites.png);
  background-repeat: no-repeat;
  background-size: 600px;
  display: inline-block;
  text-indent: 500%;
  overflow: hidden;
  white-space: nowrap;
  height: 38px;
  margin: 0 15px 15px;
}
/*SPRITES*/
.tv2 {
  background-position: 0 -100px;
  width: 27px;
}
.schwarzkopf {
  background-position: -50px -100px;
  width: 68px;
}
.airwaves {
  background-position: -150px -100px;
  width: 136px;
}
.pandg {
  background-position: -300px -100px;
  width: 88px;
}
.sztkiralyi {
  background-position: -400px -100px;
  width: 50px;
}
.blendamed {
  background-position: 0px -150px;
  width: 227px;
}
.magyarposta {
  background-position: -250px -150px;
  width: 77px;
}
.ariel {
  background-position: -350px -150px;
  width: 39px;
}
.axe {
  background-position: -400px -150px;
  width: 146px;
}
.baba {
  background-position: -0px -200px;
  width: 44px;
}
.bayer {
  background-position: -50px -200px;
  width: 38px;
}
.cif {
  background-position: -100px -200px;
  width: 38px;
}
.dell {
  background-position: -150px -200px;
  width: 38px;
}
.ferrero {
  background-position: -200px -200px;
  width: 93px;
}
.ford {
  background-position: -300px -200px;
  width: 102px;
}
.gilette {
  background-position: 0px -350px;
  width: 160px;
}
.hyundai {
  background-position: -0px -250px;
  width: 65px;
}
.knorr {
  background-position: -75px -250px;
  width: 45px;
}
.mol {
  background-position: -125px -250px;
  width: 62px;
}
.otp {
  background-position: -200px -250px;
  width: 180px;
}
.raffaello {
  background-position: -400px -250px;
  width: 58px;
}
.rama {
  background-position: -500px -250px;
  width: 60px;
}
.rexona {
  background-position: -0px -300px;
  width: 97px;
}
.soproni {
  background-position: -100px -300px;
  width: 87px;
}
.tcom {
  background-position: -200px -300px;
  width: 161px;
}
.toyota {
  background-position: -400px -300px;
  width: 46px;
}


    /* Break 960px+ --------------------------------------------------------*/

    /*____________________video____________________*/
    @media screen and (min-width: 960px) {
      /*____________________references____________________*/
      .references li {
        margin: 0 30px 30px;
      }
      .references .wrapper {
        padding: 45px 15px 0;
      }


    }
        /* Break 1280px+ --------------------------------------------------------*/

        /*____________________video____________________*/
        @media screen and (min-width: 1310px) {

          .video {
            padding-bottom: 770px;
            padding-left: 15px;
            padding-right: 15px;
          }
          .video iframe {
            position: static;
            display: block;
          	width: 1280px;
          	height: 720px;
            margin: 0 auto;
            -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
          }
        /*____________________header____________________*/
          header {
            height: 100px;

          }
          header .wrapper {
            padding: 35px 15px 0;
          }

        }
